<div ng-controller="LineCtrl">
    <div id="hero">
      <h1>Cold Review</h1>
      <input type="text" ng-model="repoUrl" placeholder="GitHub Repo URL">
      <button ng-click="githubRequest()" type="button">Go!</button>
    </div>
    <div id="line-chart">
      <canvas id="line-commits" class="chart chart-line" data="commitVolumes" labels="labels"  series="commitSeries" legend="legend" click="onClick" height="40">
      </canvas>
      <canvas id="line-temperatures" class="chart chart-line" data="temperatureValues" labels="labels"  series="tempSeries" legend="legend" click="onClick" height="40">
      </canvas>
      <button ng-click="updateFaster()" type="button">+</button>
      <button ng-click="updateSlower()" type="button">-</button>
    </div>
    <div id="commit-feed">
      <h4>Most Recent Commits</h4>
          <ul>
              <li ng-repeat="commit in cumulativeCommitList | limitTo: 10">
                  {{ commit.commit.committer.name }}:
                  {{ commit.commit.message }}

                  <span class="sentiment">
                  <i class="fa fa-caret-up" ng-if="commit.idol.sentiment=='positive'"> {{ commit.idol.score | number:2 }}</i>
                  <i class="fa fa-caret-down" ng-if="commit.idol.sentiment=='negative'"> {{ commit.idol.score | number:2 }}</i>
                  <i class="fa fa-minus-circle" ng-if="commit.idol.sentiment=='neutral'"> {{ commit.idol.score | number:2 }}</i>
                </span>
              </li>
          </ul>
      </div>
    <div id="temp-settings">
      <h4>Temperature Settings</h4>
      <div id="container">
        <div class="temp-display">
          <h1>{{ set_temp }}&deg;</h1>
          Current
        </div><div class="temp-display">
          <h1>{{ ambient_temp}}&deg;</h1>
          Ambient
        </div><div class="temp-display">
          <h1>{{ max_temp }}&deg;</h1>
          Max
        </div>
      </div>
    </div>

</div>
